<form [formGroup]="leaveTypeForm" (ngSubmit)="onSubmit()" class="mx-auto col-md-6 offset-md-4 form-box">

  <div *ngIf="!!leaveType_req_msg" [ngClass]="has_error ? 'alert alert-danger': 'alert alert-info'">{{leaveType_req_msg}}</div>

  <h4 class="mb-3 form-title"> Create EPI Type </h4>

  <div class="form-group row">
    <label for="groupName" class="col-sm-3 col-form-label">EPI Type Name&nbsp;<span class="text-danger">*</span></label>
    <div class="col-sm-9">
      <input type="text" id="groupName" formControlName="groupName" class="form-control" placeholder="Leave Type Name"
        [ngClass]="{ 'is-invalid': submitted && f.typeName.errors }" />
      <div *ngIf="submitted && f.typeName.errors" class="invalid-feedback">
        <div *ngIf="f.groupName.errors.required">Type Name is required</div>
        <div *ngIf="f.groupName.errors.minlength">Type Name must be at least 3 characters</div>
      </div>
    </div>
  </div>



  <button mat-raised-button color="primary" class="mt-3 btn-block" type="submit">Submit</button>

</form>